<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />    

    <title>Geo</title>
    <style>
        header {
            background-color: #FF3719;
            color: white;
        }
    </style>
  </head>
  <body>
    <center>
        <header>
            <h1>Geo</h1>
            <p>About this project</p>
        </header>
    </center>

    <p>Click <a href="/">here</a> to return back to the home page.</p>

    <center>
        <div class="container">
            <h1>Geo is a data collector and online data viewer in one</h1>
            <p>Geo lets you view and manipulate remote geospatial PostgreSQL databases in a handy online viewer. Using MapBox to display your data, rest assured that your database's data is locationally accurate and secure.</p>
            <img width="25%" src="mapbox-logo.png" alt="Mapbox Logo"/>
            <img width="10%" src="postgresql-logo.png" alt="PostgreSQL Logo"/>
            <img width="20%" src="html-logo.jpeg" alt="HTML/JS/CSS Logo"/>
            <p>Using the web browser to run the application, it is a perfect cross-platform solution for field workers.</p>
            <p>Immediately see your changes in your PostgreSQL database or export your database as a GEOJSON file.</p>
        </div>
    </center>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>